body{
    margin: 0;
    padding: 0;
    background: rgb(150, 146, 149);
    font-family: arial;
}
.navbar ul{
    list-style: none;
    background: #290029;
    padding: 0;
    margin: 0;
    text-align: center;
}
.navbar li{
    display: inline-block;
}


.navbar a{
    text-decoration: rgb(136, 59, 8);
    color: rgb(250, 246, 246);
    width: 100px;
    display: contents;
    padding: 25px 20px;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;}
    .navbar a:hover{
        background: crimson;
    }

    p {font-size: 25px;
        font-style :italic;
    }
    h3 {color: rgb(252, 0, 0);

        }